<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @taxon.common_name %>
</p>

<p>
  <strong>Cbc name:</strong>
  <%= @taxon.cbc_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @taxon.scientific_name %>
</p>

<p>
  <strong>Taxonomic order:</strong>
  <%= @taxon.taxonomic_order %>
</p>

<p>
  <strong>Generic:</strong>
  <%= @taxon.generic %>
</p>

<p>
  <strong>Active:</strong>
  <%= @taxon.active %>
</p>

<%= link_to "Edit", edit_taxon_path(@taxon) %>
|
<%= link_to "Back", taxons_path %>
