<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sector.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @sector.code %>
</p>

<%= render partial: 'shared/summary', locals: { group: @sector } %>

<%= link_to 'Edit', edit_sector_path(@sector) %> |
<%= link_to 'Back', sectors_path %>
