<p>
  <strong>Species Count:</strong>
  <%= group.species_total %>
</p>

<p>
  <strong>Individual Count:</strong>
  <%= group.individual_total %>
</p>

<p>
  <strong>Field Observers:</strong>
  <%= group.field_observer_total %>
</p>

<p>
  <strong>Feeder Watch Observers:</strong>
  <%= group.feeder_watch_observer_total %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= time_12_format group.first_start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= time_12_format group.last_end_time %>
</p>
