<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @survey.date %>
</p>

<p>
  <strong>Year:</strong>
  <%= @survey.year %>
</p>

<%= render partial: 'shared/summary', locals: { group: @survey } %>
<%= render partial: 'shared/observations/list', locals: { group: @survey } %>
<%= render partial: 'shared/observers', locals: { group: @survey } %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
