<p id="notice"><%= notice %></p>

<p>
  <strong>Audubon year:</strong>
  <%= @year.audubon_year %>
</p>

<p>
  <strong>Vashon year:</strong>
  <%= @year.vashon_year %>
</p>

<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
